body 
{
   
}
 #PdfCombinerWeb label {margin-left: 4px; width: 144px; 
display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
 #PdfCombinerWeb input {margin-left: 4px; width: 106px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
 #PdfCombinerWeb select {margin: 2px; margin-left: 4px; width: 154px;}
 button[type=submit] { margin-top: 5px;width: 264px;
}
 table, td, th { border: thin solid blue;border-collapse: collapse;padding: 5px;background-color: lemonchiffon;text-align: left;margin: 10px 0;}


